 
////////    Theme Primary Colors ////////


$white-color: #fff;
$black: #000;
$red: #960000;
$light-black: #101010;
$yellow: #C4974E; 
 

 
//////// FONT SIZES ////////

$font_14: 14px;
$font_15: 15px;
$font_16: 16px;
$font_17: 17px;
$font_18: 18px;
$font_20: 20px;
$font_24: 24px;
$font_25: 25px;
$font_26: 26px;
$font_27: 27px;
$font_30: 30px;
$font_32: 32px;
$font_33: 33px;
$font_35: 35px;
$font_40: 40px;
$font_43: 43px;
$font_50: 50px;
$font_60: 60px;
$font_64: 64px;
$font_75: 75px;
$font_115: 115px;








